body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url(/images/background.jpg) no-repeat center center fixed;
    background-size: 150%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 1.4rem;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
    width: 20%;
    float: left;
    height: 100%;
    padding: 10px 0 5px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding: 23px 0;

  position: relative;
}

nav a {
  color: #77287a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

nav a:hover {
  color: #b83b86;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #b83b86;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.news-donate {
    margin: 60vh 0 0 0;
    width: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 30vh;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    color: #fff;
}

.news-donate p {
    padding: 0 10%;
    letter-spacing: .05rem;
    font-size: .8rem;
    line-height: 1.4;
    text-align: center;
}

.news-donate h3 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2em;
    margin: 1.5rem 0;
}

.donate,
.news,
.mission {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.donate:hover,
.news:hover,
.mission:hover {
    background: #81bd61;
}

.donate {
    background: #b83b86;
}

.news {
    background: #3876bb;
    border-left: 3px solid #fff;
}

.mission {
    background: #d36a32;
    border-left: 3px solid #fff;
}

/* SLIDER */

.carousel-wrapper{
    height: 400px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #77287a;
    color: #fff;
  }
  .carousel-item {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carousel-item h2 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5em;
    margin: 1.5rem 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.carousel-item h3 {
    text-transform: uppercase;
    padding: 1em;
    letter-spacing: 3px;
    background: #fff;
    color: black;
    margin: 2rem 0 0 0;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.carousel-item h3:hover {
    color: white;
    background: #81bd61;
}

  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 12px;
  }
  
  .arrow-prev {
    left: 2%;
    position:absolute;
    top: 50%;
    transform:translateY(-50%) rotate(135deg);
    z-index: 1;
  }
   
  .arrow-next {
    right: 2%;
    position:absolute;
    top: 50%;
    transform:translateY(-50%) rotate(-45deg);
    z-index: 1;
}
  
  .light {
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
  .item-1 {
      z-index: 2;
      opacity: 1;
    background:url('https://images.unsplash.com/photo-1492462543947-040389c4a66c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80s') no-repeat center center;
    background-size:cover;
    }
  .item-2{
    background:url('https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80') no-repeat center center;
     background-size:cover;
  }
  .item-3{
    background:url('https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80') no-repeat center center;
     background-size:cover;
  }
  
  *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }

/* FOOTER */

.footer {
    background: #77287a;
    color: #fff;
    border-top: #fff solid 3px;
}

.social {
    font-size: 1.75rem;
}

ul.social {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 1rem;
}

.social li {
    display: inline;
    margin: 0 2rem;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.social li:hover {
    color: #93f061;
}

.contact {
    background: #b83b86;
    color: #fff;
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact ul {
    margin: none;
    text-align: center;
    margin: 0;
}

.contact li {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
}

/* PROGRAMS */

.background {
  height: 25vh;
  position: relative;
  background: url(/images/programs_bg.JPG) no-repeat center center;
  background-size: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
}

.ddlm {
  height: 35vh;
  background: url(/images/dotd_bg.JPG) no-repeat top center;
  background-size: cover;
  background-position: 50% 35%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
}

.arts-culture-media {
  position: absolute;
  bottom: -2em;
  left: 50%;
  background: #77287a;
  color: #fff;
  transform: translateX(-50%);
  padding: 1.1rem 1.5rem;
  letter-spacing: 0.05rem;
}

.arts-culture-media h1 {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.arts-culture-media h1:before {
  content: '';
  border: 1px solid #fff;
  position: absolute;
  top: .2em;
  bottom: .2em;
  left: .2em;
  right: .2em;
}

.programs-container {
  background: #fff;
  width: 100%;
  display: grid;
  place-items: center;
}

.programs {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  grid-gap: 3em;
  width: 80%;
  padding: 5em 0 4em 0;
}

.program {
  background: lightgray;
  color: #fff;
  text-align: center;
  min-height: 25vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.program:hover > h3 {
  background: #77287a;
}

.program h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  padding: 1rem 0;
  background: #b83b86;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.program h3:before {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.619);
  position: absolute;
  top: .4em;
  bottom: .4em;
  left: .4em;
  right: .4em;
}

.program p {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: .5em 1em;
  width: 100%;
}

.dia {
  background: url(/images/ddlm.JPG) no-repeat center center;
  background-size: 100%;
}

.tay {
  background: url(/images/tay.jpg) no-repeat top center;
  background-size: 100%;
}

.lax {
  background: url(/images/latinx.jpg) no-repeat top center;
  background-size: 110%;
}

.partners {
  background: url(/images/pfs.jpg) no-repeat top center;
  background-size: 120%;
}

.heal {
  background: url(/images/healing.jpg) no-repeat top center;
  background-size: 110%;
}

.pres {
  background: url(/images/presente.jpg) no-repeat top center;
  background-size: 110%;
}

/* DOTD PROGRAM PAGE */

.dotd-container {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotd {
  width: 50%;
  background: #fff;
  position: relative;
}

.dotd h1, .dotd h3 {
  text-transform: uppercase;
}

.dotd h1 {
  position: absolute;
  top: -5rem;
  left: 0;
  color: #b83b86;
  font-size: 2.5rem;
  background: #fff;
  padding: 1.75rem 2rem 0 2rem;
  border-top: 6px solid #77287a;
}

.dotd h3 {
  color: #77287a;
  margin-top: 3.5rem;
  padding-left: 2rem;
  margin-bottom: 3.5rem;
  letter-spacing: 1px;
}

.dotd p {
  padding-left: 2rem;
  margin: 0 0 1rem 0;
  line-height: 1.6;
}

.dotd-links {
  position: absolute;
  right: 0;
  top: -1.25rem;
  width: 27%;
}

.dotd-links a {
  color: #fff;
  background: #b83b86;
  padding: .75rem;
  margin-left: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  transition: 0.3s;
  position: absolute;
}

.dotd-links a:before {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.619);
  position: absolute;
  top: .2em;
  bottom: .2em;
  left: .2em;
  right: .2em;
}

.dotd-web {
  left: 0;
}

.dotd-vol {
  right: 0;
}

.dotd-links a:hover {
  background: #77287a;
}

/* ALL STAFF PAGE */

.staff-background {
  height: 25vh;
  position: relative;
  background: url(/images/staff_bg.jpg) no-repeat top center;
  background-size: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
}

.staff-container {
  background: #fff;
  width: 100%;
  display: grid;
  place-items: center;
}

.staff {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  grid-gap: 3em;
  width: 80%;
  padding: 5em 0 4em 0;
}

.staff-box {
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.staff-box img {
  max-width: 100%;
  height: auto;
}

.staff-box h3 {
  font-size: .9rem;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 1px;
  background: #3f8ec1;
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.staff-box h3 em {
  font-size: .7rem;
  font-style: normal;
  font-weight: 100;
  letter-spacing: initial;
}

.staff-box h3:before {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.619);
  position: absolute;
  top: .4em;
  bottom: .4em;
  left: .4em;
  right: .4em;
}

.staff-box:hover > h3 {
  background: #81bd61;
}

.staff-h1 {
  background: #3f8ec1;
}

/* DIANGO */

.diango-bg {
  height: 25vh;
  position: relative;
  background: url(/images/bio_bg.jpg) no-repeat top center;
  background-size: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
}

.diango-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diango {
  width: 50%;
  position: relative;
}

.diango p {
  margin: 0 0 1rem 0;
  line-height: 1.6;
  padding: 3rem 0 0 0;
}

.profile {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  background: url(/images/Diango.jpg) no-repeat center center;
  background-size: cover;
  height: 290px;
  width: 290px;
  text-align: center;
}

/* .arts-culture-media {
  position: absolute;
  bottom: -2em;
  left: 50%;
  background: #77287a;
  color: #fff;
  transform: translateX(-50%);
  padding: 1.1rem 1.5rem;
  letter-spacing: 0.05rem;
} */

.profile h1 {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 1px;
  color: #fff;
  background: #3f8ec1;
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.profile h1:before {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.619);
  position: absolute;
  top: .3em;
  bottom: .3em;
  left: .3em;
  right: .3em;
}

.diango h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
  color: #3876bb;
  text-align: center;
  text-transform: uppercase;
  padding: 200px 0 0 0;
}